html{
background: black;
margin: 0;
}
body{
    margin: 0;
    
}

@media (min-width: 770px){
    body{
        padding-top: 100px;
    }
}

@font-face{
    font-family: 'Chaos';
    src:url(assets/fonts/ChaosDemo-X33qd.ttf) 
}

.imagen{
transition: all 0.5s;
}

.imagen:hover{
transform: scale(1.2);
}
.text-menu{
    font-weight: bold; 
    color:white;
    padding: 0.5em;
    transition: all 0.5s;
}
.text-menu:hover{
    transform: scale(1.2);

}


#navmenu{
 background: black;
}

.navbar-end{
    margin: 20px;
}

.socialmedia{
    height: 50px;
    transition: all 0.5s;
}

.socialmedia:hover{
    transform: scale(1.2);
}

#burger{
    height:90px;
    width: 80px;
}

.hide{
visibility: hidden;
display:none;
}

.landingpage-container{
  
    display:flex;
    justify-content:center;
}

.cabecera{
    
 color: white;
 margin: auto;
}

.titulo__presentaciones{
    font-family: Chaos;
    font-size:10vw;
    text-align: center;
    color:white;
}
.item-container{
    flex-wrap: wrap;

}

.item{
margin: 2vw;
transition: all 1s;
}

.item:hover{

    transform: scale(1.2)

}